/* Reset default margin and padding for the page */
body, html {
    margin: 0;
    padding: 0;
  }
  
  /* Center the watch in the middle of the page */
  .watch {
    width: 600px;
    height: 600px;
    border: 30px solid rgb(187, 183, 183);
    -webkit-box-shadow: 1px 1px 35px 68px rgba(19, 140, 232, 0.2);
    -moz-box-shadow: 1px 1px 35px 68px rgba(19, 140, 232, 0.2);
    box-shadow: 1px 1px 35px 68px rgba(19, 140, 232, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/clock.png")no-repeat center/cover ; 
    background-color: rgb(26, 144, 187)
}
  
  /* Create the watch hands */
  .hand {
    position: absolute;
    top: 6.5%;
    left: 50%;
    transform-origin: bottom center;
    transform-style: preserve-3d;
  }
  
  .hour-hand {
    width: 9px;
    height: 140px;
    margin-top: 120px;
    margin-right: 10px;
    border-radius: 100px  100px 0  0;


    background-color: rgb(227, 222, 222);
    z-index: 1;
    animation: rotate-hour 43200s infinite linear; /* 43200s = 12 hours */
  }
  
  .minute-hand {
    width: 6px;
    height: 200px;
    margin-top: 60px;
    margin-right: 6px;
border-radius: 100px  100px 0  0;

    background-color: black;
    z-index: 2;
    animation: rotate-minute 3600s infinite linear; /* 3600s = 60 minutes */
  }
  
  .second-hand {
    width: 2px;
    height: 265px;
    /* margin-right: 9px; */

    background-color: red;
    z-index: 3;
    animation: rotate-second 60s infinite linear; /* 60s = 60 seconds */
  }
  
  /* Create the watch center */
  .center {
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
    z-index: 4;
  }
  
  /* Define the rotation animation for each clock hand */
  @keyframes rotate-hour {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-minute {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotate-second {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  